@{ 
    ViewData["Title"] = "Home Page"; 
 } 

<div class="text-center"> 
    <img data-aos="flip-right" class="imageLogo" src="/img/Share.png" alt="CircuitShare Logo" />
    <h1 class="display-4" style="text-decoration: underline; font-weight: bold">Welcome To CircuitShare!!!</h1>
    <p style="font-size: 20px; font-weight: bold">Here is the best place to find your closest charger and all that cool stuff. If you want to see the chargers click on the link below!!!</p>
    <a asp-controller="Charger" asp-action="GetAllChargers" class="btn btn-primary" style="font-size: 40px">Check out Our Chargers!</a>
</div>


<div class="road-container">
    <div class="lane"></div>
    <div class="middle-line"></div>
    <div class="lane"></div>
</div>



