@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

<h1 class="TitleStyle" style="font-size: 50px; text-decoration: underline">Change Your Password</h1>

<div class="road-container">
    <div class="lane"></div>
    <div class="middle-line"></div>
    <div class="lane"></div>
</div>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-controller="Account" asp-action="ChangePassword" method="post">
    <div class="row login-form-container formAlign">
        <div class="spacer">
        <div class=""><label>Current Password:</label></div>
        <div class="">
            <input type="password" asp-for="CurrentPassword"
                   class="form-control" />
        </div>
        <div class="">
            <span asp-validation-for="CurrentPassword"
                  class="text-danger"></span>
        </div>
    </div>

        <div class="spacer">
        <div class=""><label>New Password:</label></div>
        <div class="">
            <input type="password" asp-for="NewPassword"
                   class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="NewPassword"
                  class="text-danger"></span>
        </div>
    </div>

        <div class="spacer">
        <div class=""><label>Confirm Password:</label></div>
        <div class="">
            <input type="password" asp-for="ConfirmPassword"
                   class="form-control" />
        </div>
        <div class="">
            <span asp-validation-for="ConfirmPassword"
                  class="text-danger"></span>
        </div>
    </div>
    

    <div class="row">
            <div class="spacer">
            <button type="submit" class="btn btn-primary">
                Set Password
            </button>
        </div>
    </div>
    <div class="row">
        <div class="">
            <a style="color: black" asp-controller="Account" asp-action="GetUserProfile" asp-route-username="@User.Identity.Name">Cancel</a>
        </div>
    </div>
    </div>
</form>
