@{
    ViewData["Title"] = "Email Confirmation Successful";
}


<h1 class="HeaderStyling">Your email has been confirmed!</h1>

<p style="font-size: 20px; font-weight: bold">🎉Thank you very much!🎉</p>

<div class="road-container">
    <div class="lane"></div>
    <div class="middle-line"></div>
    <div class="lane"></div>
</div>


<img className="imageLogo" src="/img/Share.png" alt="CircuitShare Logo" />